h1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

table{
    margin: auto;
}

td{
    width: 240px;
    height: 540px;
    border: 4px solid white;
}

#first{
    background-color: #264653;
}

#second{
    background-color: #2a9d8f;
}

#third{
    background-color: #e9c46a;
}

#fourth{
    background-color: #f4a261;
}

#fifth{
    background-color: #e76f51;
}